@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    font-family: 'Shadows Into Light', cursive;
    background-color: black;
    color: #FEC84D;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
}

h1{
    margin: 0;
    font-size: 80px;
    font-family: 'Shadows Into Light', cursive;

}

#buttonContainer{
    display: flex;
    justify-content:center;
    padding-bottom: 10px;
}

.button{
    
    margin: 2px;
    font: inherit;
    color: inherit;
    flex: 1;
    height: 40px;
    width: 80px;
    background-color: #212223;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color:#FEC84D;
    color: black;
}

#status{
    font-size: 25px;
}



#subtitle{
    margin:0;
    font-size: 20px;
}

header{
    height: 250px;
    padding: 30px;
}

#displayMessage{
    font-weight:bold;
    font-size: 25px;
}

#container{
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 3px;
    justify-content: center;
    align-content: center;

}

.box{
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    cursor: pointer;
    line-height: 150px;
    background-color: #212223;
    justify-content: center;
    align-content: center;
}

/* .box:hover{
    background-color: #D6AD60;
} */

.red{
    background-color:#F79489;
}

.blue{
    background-color: #2E8BC0;
}